
<link rel="stylesheet" href="/styles/program.css">
<link rel="stylesheet" href="https://unpkg.com/98.css"/>

<!-- <div style="position:absolute;width: 1vw;height: 1vh;"></div> -->
<div class="window-body">
    <audio  autoplay loop>
        <source src="/sound/aroundtheworld.mp3" type="audio/ogg">
        Your browser does not support the audio element.
    </audio> 
    <marquee behavior="scroll" direction="left">Around the world - Daft Punk </marquee>
    <p>Това единствено съшествува за да може сайта да "садържа Български"</p>
    <img src="/images/gifs/aniglobe.gif" alt="" style="display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    image-rendering: pixelated;">
</div>
