<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://unpkg.com/98.css"/>
</head>
<body>
    <div class="window draggable" style="width: 300px">
        <div class="title-bar">
          <div class="title-bar-text">A Complete Window</div>
          <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close"></button>
          </div>
        </div>
        <div class="window-body">
            <p>this should work now :O</p>
            <P>PLEASE UPDATE PROPERLY</P>
            <p>test 2</p>
            <p>test 3</p>
        </div>
      </div>
</body>
</html>