<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <!-- i DO NOT know how ANY of this works, but dont touch it or it'll break everything thxx -->
    <!-- Okay i may be have a SLIGHT idea.. first one is required for jquery to work at all(>) and second one is for ui stuff
         i dont have to include it in the program views though since they wont be using it (maybe?)
    -->
    <script language="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script language="javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js"></script>
   
    <script src="/js/draggable.js"></script>
    <script src="/js/windowMaker.js"></script>
    <script src="/js/bringup.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/98.css"/>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/icon.css">
</head>
<body>
    <div id="programs">
        <div 
            style="background-image: url(/images/icons/utopia_smiley.png);"
            class="icon"
            iframelink="/radical" 
            window-name="radical program!!" 
            window-width="300px" 
            window-height="100px"
        ></div>

        <div 
            style="background-image: url(/images/icons/clock-1.png);"
            class="icon" 
            iframelink="/clock" 
            window-name="Possibly Functioning Clock"
            window-width="300px" 
            window-height="200px"
        ></div>

        <div 
            style="background-image: url(/images/icons/computer_explorer-2.png);"
            class="icon" 
            iframelink="/aboutme" 
            window-name="About Me"
            window-width="600px" 
            window-height="400px"
        ></div>
    </div>

</body>
</html>