
    <link rel="stylesheet" href="/styles/program.css">
    <link rel="stylesheet" href="https://unpkg.com/98.css"/>


    <!-- <div style="position:absolute;width: 1vw;height: 1vh;"></div> -->
    <div class="window-body" style="width: 90%;height: 90%;">
        <p>this should work now :O</p>
    </div>
