

<link rel="stylesheet" href="/styles/program.css">
<link rel="stylesheet" href="https://unpkg.com/98.css"/>

<!-- <div style="position:absolute;width: 1vw;height: 1vh;"></div> -->
<div class="window-body" style="padding:15px;">
    <p style="text-align: center;">Направено от Атанас, 8А клас в СУ "Йордан Йовков"</p>
    <a href="https://10sou.sliven.net/" taget="_blank">
        <img src="/images/other/school.png" alt="" style="display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    image-rendering: pixelated;">
    </a>
    
</div>
