h1 { font-size: 2rem !important; }
h2 { font-size: 1.5rem !important; }
h3 { font-size: 1.17rem !important; }

.draggable {
    position: absolute;
    padding: 0px;
}

.containsiframe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

iframe {
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    margin:0px;
    padding:0px;
}

.icon {
    width: 50px;
    height: 50px;
    background-size: cover;
    image-rendering: pixelated;
}


body {
    background-color: #008080;
    scrollbar-width: 0px;  /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */

}

#programs {
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:center;
    padding: 40px 10px;
    gap: 40px;

}

::-webkit-scrollbar {
    display: none;
}

