.window-body {
    font-family: "Pixelated MS Sans Serif",Arial;
    font-size: 11px;
    margin: 0px;
    padding: 0px;
}

body {
  overflow:hidden;
  margin: 0px;
  padding:0px;
}

/* for some reason this isn't commiting to github? */