.window-body {
    font-family: "Pixelated MS Sans Serif",Arial;
    font-size: 11px;
    margin: 0px;
    padding: 0px;
}

body {
  overflow:hidden;
  margin: 0px;
  padding:0px;
}

p {
  font-size: 12px;
}

li {
  font-size: 12px;
}

.heading{
  font-size:large;
  text-align: center;
}

/* for some reason this isn't commiting to github? */